.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(249, 249, 252);
  position: sticky;
  top: 0;
  left: 0;
}

.navbar__logo {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(101, 152, 247);
  padding-left: 35%;
}

.navbar__cart {
  background: rgb(249, 249, 252);
  width: 110px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
  cursor: pointer;
}

.navbar__cart:hover {
  opacity: 0.75;
}

.cart__title {
  font-size: 30px;
  font-weight: bold;
  color: rgb(101, 152, 247);
}

.cart__image {
  width: 30px;
  height: 30px;
  object-fit: contain;
  /* filter: invert(100%); */
}

.cart__counter {
  height: 40px;
  width: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  color: rgb(101, 152, 247);
  background: var(--light-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
